body{
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  margin:0;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;

}

img {
  height: 150px;
  width: 375px;
  object-fit: cover;
}

header {
  background-color: rgb(37, 125, 192);
  padding: 10px;
  text-align: center;
  height: 250px;
  color: white;
}

#headerLogo {
  width: 150px;
  height: auto;
}

.headerItems {
  padding: 12px;
}

#Scroll-and-hover {
  text-align: center;
  padding-top: 15px;
}

section {
  padding: 15px;
}

h2{
  color: rgb(0, 162, 255) !important;
}

.card-padding {
  padding-bottom: 30px;   /* Space inside the card */
  box-sizing: border-box; /* Makes sure padding doesn't break the layout */
}

.img-hover-container {
  position: relative; /* Needed for positioning the text */
  display: inline-block; /* Keeps the container the size of the image */
  border: 1px solid #000;
}

.img-description {
  display: none; /* Hide the text at first */
  position: absolute; /* Position over the image */
  bottom: 0; /* Start at the bottom */
  left: 0; /* Start at the left */
  width: 100%; /* Cover the whole image */
  height: 100%; /* Cover the whole image */
  background: rgba(37, 125, 192, 0.8); /* Semi-transparent background */
  padding: 15px;
  color: #ffffff; /* White text */
  text-align: center; /* Center the text */
  box-sizing: border-box;
}

.img-hover-container:hover .img-description {
  display: block;
}
